<!DOCTYPE html>
<html>
{% load staticfiles %}
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css">
    
<script type="application/javascript" charset="utf-8" src="{% static 'js/ymPrompt.js' %}"></script>
<link href="{% static 'css/skin/black/ymPrompt.css' %}"  rel="stylesheet" type="text/css">
<script type="application/javascript" charset="utf-8" src="{% static 'js/bash.js' %}"></script>
</head>
<body>
 <fieldset> 
          <legend><span>添加功能模块</span>
			  </legend>
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="143"><div align="center"></div></td>
              <td width="324"><div align="left"></div></td>
            </tr>
            <tr>
              <td><div align="center">模块名称：</div></td>
              <td><div align="left">
                <input name="module_name" type="text" id="module_name" value="重启进程服务">
              </div></td>
            </tr>
            <tr>
              <td><div align="center">功能说明：</div></td>
              <td><div align="left">
                <input name="module_caption" type="text" id="module_caption" value="[&lt;b&gt;功能说明&lt;/b&gt;]&lt;br&gt; 重启目标服务器指定的进程或服务" size="60">
              *支持HTML</div></td>
            </tr>
            <tr>
              <td><div align="center">模块扩展：</div>
			  </td>
              <td><div align="left">
                <textarea name="module_extend" cols="75" rows="20" id="module_extend">
进程服务名称：
<select name="sys_param_1" id="sys_param_1">
  <option value="resin" selected>resin</option>
  <option value="nginx">nginx</option>
  <option value="haproxy">haproxy</option>
  <option value="apache">apache</option>
  <option value="mysql">mysql</option>
  <option value="lighttpd">lighttpd</option>
</select>
				</textarea>
              </div>
			  <br>* 系统支持两个表单扩展参数，ID命名约定为“sys_param_1”、“sys_param_2”
			  </td>
            </tr>
          </table>
		  <p>
		    <input type="button" name="sys_add_button" value=" 提 交 " id="sys_add_button" onClick="return submitmodule_add();"> 
			<input type="button" name="Submit" value="返 回" id="sys_add_button" onClick="javascript:window.location.href='/';">
		  </p>
        </fieldset>	    </td>

</body>
</html>